.restaurant {
  background-color: #fffdee;
}
.decor-par {
  font-family: "Times New Roman";
  font-size: 20px;
  line-height: calc(23 / 20);
  color: #b4b4b4;
  margin-bottom: 12px;
}
.rest-title {
  font-family: "Film P3";
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  color: #494848;
  margin-bottom: 12px;
}
.rest-text {
  width: 258px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: #7a7a7a;
  margin-bottom: 28px;
}
.rest-info {
  width: 163px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: #c79002;
}
span {
  font-weight: 700;
}
table {
  width: 100%;
}

td {
  border: 1px solid red;
  font-size: 10px;
}
.menu-name {
  width: 200px;
}
.menu-quantity {
  width: 15%;
}
.menu-price {
  width: 15%;
}
