.restaurant {
  background-color: #fffdee;
}
.decor-par {
  font-family: "Times New Roman";
  font-size: 20px;
  line-height: calc(23 / 20);
  color: #b4b4b4;
  margin-bottom: 12px;
}
.rest-title {
  font-family: "Film P3";
  font-weight: 700;
  font-size: 40px;
  line-height: calc(43 / 40);
  letter-spacing: 0.3em;
  color: #494848;
  margin-bottom: 12px;
}
.rest-text {
  width: 258px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: #7a7a7a;
  margin-bottom: 28px;
}
.man-img {
  margin-bottom: 32px;
  // margin-left: 155px;
}
.box-buttom {
  display: flex;
}
.meet-pictyre {
  margin-right: 20px;
}
.rest-info {
  width: 163px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  line-height: calc(15 / 12);
  letter-spacing: 0.02em;
  color: #c79002;
}
.menu-title {
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 32px;
  line-height: calc(37 / 32);
  color: #000000;
  margin-bottom: 32px;
}
.menu-section {
  font-family: "Times New Roman";
  font-weight: 700;
  font-size: 20px;
  line-height: calc(32 / 20);
  color: #000000;
  margin-bottom: 16px;
  text-align: start;
}
.food-name {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 14px;
  line-height: calc(17 / 14);
  letter-spacing: 0.02em;
  color: #000000;
}
.ingredients {
  font-family: "Montserrat";
  font-size: 10px;
  line-height: calc(12 / 10);
  letter-spacing: 0.02em;
  color: #000000;
}
.menu-quantity {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: calc(17 / 14);
  letter-spacing: 0.02em;
  color: #000000;
}
.menu-price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  letter-spacing: 0.02em;

  color: #000000;
}
span {
  font-weight: 700;
}
table {
  min-width: 100%;
  margin-bottom: 16px;
}

td {
  border: 1px solid red;
}

.ingredients {
  width: 150px;
  padding-right: 35px;
}
.menu-quantity {
  // width: 70px;
  width: 15%;
  text-align: center;
}
.menu-price {
  // width: 70px;
  width: 15%;
  text-align: center;
}

// table {
//   tr {
//     td {
//       color: red;
//       &:nth-child(2) {
//         text-align: center;
//       }
//       &:nth-child(2) {
//         text-align: center;
//         color: green;
//       }
//     }
//   }
// }
