* {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Шрифты на бади*/
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  // outline: solid 1px red;
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1280px;
  }
}
